$font: "Helvetica Neve", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


//Colors 
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html, 
body {
    font-family: $font;
    font-size: 16px; 
    padding: 0;
    margin: 0;
}

//very basic container - can change later 
//on a viewport of 1440px, we set the wideth to 1280, etc 
.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px){
        width: 1280px; 
        min-width: 1280px
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

//header
header {
    height: 80px; 
    width: 100%; 
    position: fixed; 
    top: 0px;
    z-index: 10;
    background-color: $off-white;
    .inner-header {
        display: flex;
        align-items: center; 
        justify-content: space-between;
        height: 80px; 
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $black; 
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $black;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}


//banner
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row {
        // position: relative;
        .main-text {
            //my name
            font-size: 5.8rem;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top:50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            //this is not responsive yet
            @media (max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 18px;
            }
            }
            .main-title {
                font-size: 5.8rem;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top:50%;
            transform: translateY(40%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            //this is not responsive yet
            @media (max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 18px;
            }
        }
    }
}

//about-me
.about-me {
    padding: 48px 0;
    background: $white;
    position: relative;
        .inner-about {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin: 0 13em;
            .content {
                width: 33%;
                @media (max-width: 1440px){
                    width: 40%;
                }
                h3{
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    letter-spacing: 1.5px;
                    margin: 0;
                }
                p {
                    font-size: 1rem;
                    line-height: 2rem;
                    font-weight: 300;
                    margin: 40px 0 72px;
                }
        
                .btn-row {
                    a{
                        font-weight: 700; 
                        font-size: 0.875rem;
                        letter-spacing: 1.5px;
                        color: $black;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
            .main-image{
                margin: auto;
                @media (max-width: 1440px) {
                    // width: 20%;
                }
                img {
                    border-radius: 2rem;
                    // padding: 6rem;
                    width: 200px;
                }
            }
        }
}


//video section
.project-section {
    margin-top: 160px;
    .container {
        h3 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 1.5px;
            margin: 0;
        }
    
      .video-player {
        // width: 60%;
        // margin: 0 auto;
      }
      .video-content {
        display: flex;
        justify-content: space-between;
        margin: 80px 0 120px;
        .title {
          width: 50%;
          h3 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 1.5px;
            margin: 0;
          }
        }
        .content {
          width: 50%;
          p {
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 300;
            margin: 0;
          }
        }
      }
    }
  }
  

//footer
footer {
    .socials {
      background: $off-white;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .footer {
      background: lightslategray;
      height: 80px;
      hr {
        border: 0;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
        height: 1px;
        margin: 0;
      }
      .copyright {
        color: $off-white;
        padding: 0 120px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }